:root {
  --light: #f7f1e3;
  --mid: #57606f;
  --dark: #2f3542;
  --accent: #34ace0;
}

/* || GENERAL */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto Condensed", sans-serif;
  background-color: var(--dark);
  color: var(--light);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  height: 100vh;
  max-width: 1000px;
  margin: auto;
  padding: 16px;
}

/* || GRID */

.grid-container {
  display: grid;
  grid-template-columns: repeat(16, 1fr); /* Default to 16x16 grid */
  grid-template-rows: repeat(16, 1fr); /* Default to 16x16 grid */
}

.square {
  aspect-ratio: 1 / 1;
  background-color: var(--light);
  outline: 1px solid black;
}

.hide-grid-lines {
  outline: 1px solid var(--light);
}

/* || SETTINGS */

.settings {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 24px;
}

h1 {
  font-family: "Grand Hotel", cursive;
  flex: 1;
  color: var(--accent);
  font-size: 48px;
  line-height: 48px;
  transition: 0.3s;
}

h1:hover {
  color: var(--light);
  cursor: pointer;
}

label {
  font-size: 16px;
  line-height: 16px;
  text-transform: capitalize;
}

/* || SLIDER */

.slider-container {
  display: flex;
  align-items: center;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  height: 4px;
  background: var(--mid);
  outline: none;
  border-radius: 4px;
  margin-left: 4px;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  background: var(--accent);
  cursor: pointer;
  border-radius: 50%;
}

.slider::-moz-range-thumb {
  width: 16px;
  height: 16px;
  background: var(--accent);
  cursor: pointer;
}

.grid-ratio {
  border: 2px solid var(--mid);
  padding: 4px 8px;
  border-radius: 4px;
  text-transform: lowercase;
}

/* || RADIO & TOGGLE */

.toggle-container,
.radio-container {
  display: flex;
  flex-direction: row-reverse;
  cursor: pointer;
  user-select: none; /* Prevent text selection */
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
}

input[type="checkbox"],
input[type="radio"] {
  margin-right: 4px;
  cursor: pointer;
  accent-color: var(--accent);
  vertical-align: middle;
  position: relative;
  bottom: 1px;
}

/* || RESPONSIVE */

@media screen and (max-width: 840px) {
  main {
    height: 100%;
    gap: 16px;
  }

  .settings {
    flex-direction: column;
    place-content: center;
    align-items: center;
    gap: 16px;
    border: 2px solid var(--mid);
    border-radius: 8px;
    padding: 40px;
  }
}

@media screen and (max-height: 1080px) and (min-width: 800px) {
  main {
    display: grid;
    place-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100vh;
    gap: 16px;
  }

  .settings {
    flex-direction: column;
    place-content: center;
    align-items: center;
    gap: 16px;
    border: 2px solid var(--mid);
    border-radius: 8px;
    height: 50%;
  }

  h1 {
    flex: 0;
  }

  .grid-container {
    grid-column: span 2;
  }
}
