:root {
  --light: #f7f1e3;
  --mid: #57606f;
  --dark: #2f3542;
  --accent: #34ace0;
}

/* || GENERAL */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: monospace;
  background-color: var(--dark);
  color: var(--light);
}

main {
  display: grid;
  place-content: center;
  height: 100vh;
}

/* || GRID */

.grid-container {
  display: grid;
  grid-template-columns: repeat(16, 1fr); /* default to 16x16 grid */
  grid-template-rows: repeat(16, 1fr); /* default to 16x16 grid */
  width: 80vh;
}

.square {
  aspect-ratio: 1 / 1;
  background-color: var(--light);
  outline: 1px solid black;
}

.colorize {
  background-color: var(--accent);
}

.hide-grid-lines {
  outline: 1px solid var(--light);
}

/* || SETTINGS */

.settings {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  margin-bottom: 16px;
}

h1 {
  font-family: "Kaushan Script", cursive;
  flex: 1;
  color: var(--accent);
  font-size: 32px;
  line-height: 32px;
}

label {
  font-size: 16px;
  line-height: 16px;
  text-transform: capitalize;
}

.spacer::before {
  content: "\2022";
  color: var(--mid);
}

/* || SLIDER */

.slider {
  -webkit-appearance: none;
  appearance: none;
  height: 8px;
  background: var(--mid);
  outline: none;
  border-radius: 8px;
  margin: 0 8px;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  background: var(--accent);
  cursor: pointer;
  border-radius: 50%;
}

.slider::-moz-range-thumb {
  width: 16px;
  height: 16px;
  background: var(--accent);
  cursor: pointer;
}

.grid-ratio {
  background-color: var(--mid);
  padding: 0px 4px;
  border-radius: 4px;
}

/* || TOGGLE SWITCH */

.toggle-container {
  display: flex;
  flex-direction: row-reverse;
  cursor: pointer;
}

input[type="checkbox"] {
  margin-right: 8px;
  cursor: pointer;
  accent-color: var(--accent);
}
